In [ ]:
import csv
import json
import pandas as pd
import os

In [18]:
def excel_to_csv(excel_file):
    try:
        df = pd.read_excel(excel_file)
        csv_file = excel_file.split('.')[0] + '.csv'
        df = df.drop(['Unnamed: 0'],axis=1)
        df.to_csv(csv_file, index=False)
        if os.path.exists(csv_file):
            return csv_file
        else:
            return "CSV file creation failed."

    except Exception as e:
        return f"An error occurred: {str(e)}"

In [48]:
def csv_to_json(csv_file, json_file,url):
    with open(csv_file, 'r') as f:
        reader = csv.DictReader(f)
        data = []
        for row in reader:
            json_row = {}
            content = ', '.join([f"{key} : {value}" for key, value in row.items()])
            raw_title = str(csv_file.split('\\')[-1])
            json_row['title'] = raw_title.split(".")[0]
            json_row['content'] = content
            json_row['url'] = url
            json_row['doc_name'] = raw_title
            
            data.append(json_row)
    
    with open(json_file, 'w') as f:
        json.dump(data, f, indent=4)

In [50]:

csv_path = r'E:\Projects\SA - R&D\RAG with CSV\data\file_example_XLSX_1000.xlsx'
op_path = r'E:\Projects\SA - R&D\RAG with CSV\data\output.json'
url = "https://drive.google.com/file/d/1yn_5Nauy2QoHhRcdxlMpWH8zsd2Q5REo/view?usp=sharing"

if csv_path.lower().endswith('.csv'):
  print("Given file is a CSV")
  csv_to_json(csv_path, op_path,url)
  

elif csv_path.lower().endswith('.xls') or csv_path.lower().endswith('.xlsx'):
  print("Given file is not a csv")
  csv_path = excel_to_csv(csv_path)
  csv_to_json(csv_path,op_path,url)

else:
  print("Invalid file expected a CSV or XLS or XLSX")

Given file is not a csv

## converting lc_numeric to act value

In [58]:
import locale
def custom_converter(number):

        locale.setlocale(locale.LC_NUMERIC, 'en_IN')
        formatted_number = locale.format_string("%d", abs(number), grouping=True)
        formatted_number = f"${formatted_number}" if number < 0 else f"${formatted_number}"

        return formatted_number

In [59]:
custom_converter(-41623278)

'$4,16,23,278'

In [60]:
# Read the Excel file with custom converters
df = pd.read_excel(r"E:\Projects\SA - R&D\RAG with CSV\data\main\Financials Sample Data.xlsx")

df

,Account,Businees Unit,Currency,Year,Scenario,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Sales,Software,USD,2012,Actuals,90924002.0,82606134.0,72780220.0,52943701.0,77528109.0,96384524.0,77345061.0,98290873.0,79879127.0,95373403.0,54887908.0,82703597.0
1,Cost of Goods Sold,Software,USD,2012,Actuals,-41623278.0,-40464347.0,-30806326.0,-21412962.0,-37047252.0,-44819597.0,-34847393.0,-47903350.0,-35880653.0,-44982115.0,-26929424.0,-34233473.0
2,Commissions Expense,Software,USD,2012,Actuals,-4454359.0,-3386032.0,-3389705.0,-2149257.0,-3168079.0,-4417624.0,-3386461.0,-4052846.0,-3418737.0,-4365527.0,-2455561.0,-3646726.0
3,Payroll Expense,Software,USD,2012,Actuals,-9901680.0,-9871172.0,-8459696.0,-6303408.0,-8493573.0,-11082494.0,-8081033.0,-11070018.0,-8410665.0,-10081727.0,-6300578.0,-9099438.0
4,Travel & Entertainment Expense,Software,USD,2012,Actuals,-951255.0,-838985.0,-872700.0,-624416.0,-919835.0,-1085296.0,-818602.0,-1040585.0,-803190.0,-1158623.0,-611335.0,-941542.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,Travel & Entertainment Expense,Hardware,USD,2023,Forecast,-295046.0,-288819.0,-270521.0,-299399.0,-259557.0,-306337.0,-302042.0,-335932.0,-352326.0,-202497.0,-209741.0,-306375.0
347,R&D Expense,Hardware,USD,2023,Forecast,-1063042.0,-1383994.0,-1005520.0,-1122436.0,-1105967.0,-1152280.0,-1172596.0,-1435420.0,-1381456.0,-865769.0,-855963.0,-1188799.0
348,Consulting Expense,Hardware,USD,2023,Forecast,-1440304.0,-1476449.0,-1202261.0,-1447697.0,-1227951.0,-1255275.0,-1424563.0,-1942571.0,-1593839.0,-1037651.0,-1097675.0,-1397647.0
349,Software/Hardware Expense,Hardware,USD,2023,Forecast,-1825596.0,-1941785.0,-1833335.0,-2389482.0,-1906406.0,-1777976.0,-2005933.0,-2661184.0,-2463031.0,-1455030.0,-1398480.0,-1954771.0
350,Marketing Expense,Hardware,USD,2023,Forecast,-545525.0,-576243.0,-534567.0,-678191.0,-461374.0,-509712.0,-576349.0,-660401.0,-684878.0,-460793.0,-480324.0,-657505.0

In [62]:
columns = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
for column in columns:
    df[column] = df[column].apply(lambda x: custom_converter(x) if x < 0 else x)

In [68]:
df.to_excel(r"E:\Projects\SA - R&D\RAG with CSV\data\main\Financials Sample Data.xlsx",index=False)

In [67]:
df['Jan'][1]

'$4,16,23,278'